buildscript {
    repositories {
        jcenter()
    }
    dependencies {
        classpath("org.jetbrains.kotlin:kotlin-gradle-plugin:${kotlin_version}")
        classpath("org.jetbrains.kotlin:kotlin-allopen:${kotlin_version}")
    }
}

plugins {
    id "org.jetbrains.kotlin.jvm" version "1.3.31"
    id "idea"
    id "application"
    id "jacoco"
    id "com.diffplug.gradle.spotless" version "3.23.0"
}

apply plugin: 'jacoco'
application {
    mainClassName = "{{mainClass}}"
}


group = '{{groupId}}'
version = '0.0.1-SNAPSHOT'
sourceCompatibility = 1.8


repositories {
    jcenter()
}

dependencies {
{{#deps}}
    {{{.}}}
{{/deps}}
    compile("org.jetbrains.kotlin:kotlin-stdlib-jdk8")
    compile("org.jetbrains.kotlin:kotlin-reflect")
}

test {
    testLogging {
        events "passed", "skipped", "failed"
    }
}

spotless {
  kotlin {
    // optionally takes a version
    ktlint()
  }
}