package {{groupId}}.{{artifactId}}

{{^noArgs}}
import com.xenomachina.argparser.ArgParser
import com.xenomachina.argparser.DefaultHelpFormatter
import com.xenomachina.argparser.default
import com.xenomachina.argparser.mainBody

class SimpleArgs(parser: ArgParser) {
    val foo by parser.flagging("-f", "--foo", help = "set flag foo")
    val bar by parser.storing("-b", "--bar", help = "set value for bar").default("baz")
}

{{/noArgs}}
fun main(args: Array<String>) {{^noArgs}}= mainBody {{/noArgs}}{
    {{^noArgs}}
    ArgParser(
        args,
        helpFormatter = DefaultHelpFormatter(
            prologue = "[{{artifactId}}]",
            epilogue = "Sample usage: {{artifactId}} --foo --bar=swag"
        )
    ).parseInto(::SimpleArgs).run {
            if (foo) println("Foo is set.")
            println("bar is $bar.")
    }
    {{/noArgs}}
    println("Hello, World!")
}
