package {{groupId}}.{{artifactId}}

{{#args}}
import com.xenomachina.argparser.ArgParser
import com.xenomachina.argparser.DefaultHelpFormatter
import com.xenomachina.argparser.default

class SimpleArgs(parser: ArgParser) {
    val foo by parser.flagging("-f", "--foo", help = "set flag foo")
    val bar by parser.storing("-b", "--bar", help = "set value for bar").default("baz")
}
{{/args}}

fun main(args: Array<String>) {
    {{#args}}
    ArgParser(
        args,
        helpFormatter = DefaultHelpFormatter(
            prologue = "This is pretty cool usage info.",
            epilogue = "That was pretty cool usage info." +
                "Sample usage: simpleApp --foo --bar=swag"
        )
    ).parseInto(::SimpleArgs).run {
            if (foo) println("Foo is set.")
    }
    {{/args}}
    println("Hello, World!")
}
