package {{groupId}}.{{artifactId}}

import com.google.common.truth.Truth.assertThat
import org.junit.Test

class SillyTest {

    @Test
    fun silly() {
        assertThat(true).isTrue()
        assertThat(1L).isGreaterThan(0)
    }
}
